/* Reset Browser Default Styles */
a, a:visited, section, h1, h2, p, aside, body{
    text-decoration: none;
    font-size: 15px;
    color: #000000;
    padding: 0;
    margin: 0;
}
/* End Reset */

/* Mobile-first views */
/****** General *******/
body {
    background-color: #FFFFFF;
}

nav {
    width: 100%;
}

div.button, div.button a {
    display: block;
    border-radius: 50px;
    text-align: center;
    width: 164px;
    height: 44px;
}

section#hero, nav {
    background-color: #EBF4FF;
}

section#hero, section#benefits, section#cta {
    text-align: center;
    display: flex;
    flex-flow: column wrap;
}

section#cta {
    background-color: #0A459E;
}

/****** Nav *******/
nav div {
    display: inline;
    width: 50%;
    clear: both;
}

nav img {
    width: 106px;
    height: auto;
}

nav div.button {
    background: #2979EC 0% 0% no-repeat padding-box;
    float: right;
    margin: 30px 0;
}

nav div.button a {
    color: #FFFFFF;
    width: 100%;
}

/****** Hero *******/


/****** Benefits *******/
section#benefits img {
    width: 100%;
}

section#benefits > div {
    display: flex;
    flex-flow: row wrap;
}

section#benefits div:first-child div:nth-child(2){
    order: 0;
}

section#benefits div:first-child div:nth-child(1){
    order: 1;
}

/****** CTA *******/
section#cta h1 {
    color: #FFFFFF;
}

section#cta div.button {
    background-color: #FFBE3C;
    height: 32px;
    margin: 0 auto;
}

section#cta div.button a {
    color: #2979EC;
    width: 100%;
    height: 32px;
}

/* Tablet & Desktop Views */
@media only screen and (min-width: 768px) {
    /****** General *******/

    /****** Nav *******/

    /****** Hero *******/
    section#hero h1, section#hero p {
        align-self: flex-start;
        width: 50%;
        text-align: left;
    }

    /****** Benefits *******/
    section#benefits > div {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
    }

    section#benefits div > div {
        flex-basis: 50%;
    }

    section#benefits h2, section#benefits p {
        text-align: left;
    }

    section#benefits img {
        width: 100%;
    }

    section#benefits div:first-child div:nth-child(2){
        order: 1;
    }

    section#benefits div:first-child div:nth-child(1){
        order: 0;
    }

    section#benefits div:nth-child(2) div:nth-child(2){
        order: 0;
    }

    section#benefits div:nth-child(2) div:nth-child(1){
        order: 1;
    }
    /****** CTA *******/

}

/* Desktop Views Only*/
@media only screen and (min-width: 1024px) {
    /****** General *******/

    /****** Nav *******/

    /****** Hero *******/

    /****** Benefits *******/

    /****** CTA *******/
}
