/* Reset Browser Default Styles */
a, a:visited, section, h1, h2, p, aside, body{
    text-decoration: none;
    color: #000000;
    padding: 0;
    margin: 0;
}
/* End Reset */

/* Mobile-first views */
/****** General *******/
html {
    font-size: 16px;
}

body {
    background-color: #EBF4FF;
    font-family: "Open Sans";
}

h1 {
    font-size: 2.2em;
    max-font-size: 50px;
    font-weight: normal;
    line-height: 104%;
    margin: 5%;
}

h2 {
    font-size: 1.7em;
    max-font-size: 40px;
    font-weight: normal;
    line-height: 111%;
    margin: 3% 5%;
}

p {
    font-size: .85em;
    max-font-size: 20px;
    line-height: 122%;
    margin: 2% 6% 7%;
    font-weight: lighter;
}

div.button {
    display: block;
    box-sizing: border-box;
    border-radius: 50px;
    text-align: center;
    width: 40%;
    height: 6vh;
    font-weight: bold;
    font-size: .63em;
    line-height: 99%;
}

section#hero, section#benefits, section#cta {
    box-sizing: border-box;
    text-align: center;
    display: flex;
    flex-flow: column wrap;
    font-size: 1.5rem;
}
/****** Nav *******/
nav {
    box-sizing: border-box;
    width: 100%;
    padding: 7% 5.6% 10%;
    font-size:1.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

nav div:first-child {
    box-sizing: border-box;
    display: inline;
    width: 50%;
    align-self: center;
    flex-basis: 100%;
}
nav div:nth-child(2){
    box-sizing: border-box;
    display: inline;
    width: 50%;
    align-self: center;
    flex-basis: 100%;
}

nav img {
    width: 58%;
    max-width: 106px;
}

nav div.button {
    background: #2979EC 0% 0% no-repeat padding-box;
    float: right;
    margin: 9% 0;
}

nav div.button a {
    color: #FFFFFF;
    width: 100%;
}
/****** Hero *******/
section#hero {
    box-sizing: border-box;
    clear: both;
    padding: 7% 0 25%;
}
/****** Benefits *******/
section#benefits {
    box-sizing: border-box;
    padding: 17% 0 25%;
    background-color: #FFFFFF;
}

section#benefits img {
    width: 100%;
}

section#benefits > div {
    box-sizing: border-box;
    display: flex;
    flex-flow: row wrap;
}

section#benefits div:first-child div:nth-child(2){
    order: 0;
    padding: 0 5.5%;
}

section#benefits div:first-child div:nth-child(1){
    order: 1;
}

section#benefits div:nth-child(2) div:first-child > p{
    margin: 7% 5% 0%;
}

section#benefits div:nth-child(2) div:nth-child(2) {
    padding: 10% 5.5% 0;
}
/****** CTA *******/
section#cta {
    background-color: #0A459E;
    padding: 15% 0 20%;
}
section#cta h1 {
    color: #FFFFFF;
    font-size: 1.75em;
    line-height: 107%;
    padding-bottom: 5%;
}

section#cta div.button {
    background-color: #FFBE3C;
    height: 32px;
    margin: 0 auto;
}

section#cta div.button a {
    color: #0A459E;
    width: 100%;
    height: 32px;
    padding: 7px 0;
}

/* Tablet & Desktop Views */
@media only screen and (min-width: 768px) {
    /****** General *******/
    h1 {
        margin: 0 5% 1%;
    }

    h2 {
        font-size: 1.6em;
    }

    p {
        margin-left: 5%;
    }
    /****** Nav *******/
    nav {
        padding: 0% 3.6% 10%;
    }

    nav img {
        width: 45%;
    }
    /****** Hero *******/
    section#hero {
        padding: 1% 0 1%;
    }
    section#hero h1, section#hero p {
        align-self: flex-start;
        text-align: left;
    }
    /****** Benefits *******/
    section#benefits {
        padding-top: 9%;
        padding-bottom: 9%;

    }
    section#benefits > div {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        margin: 0 2.7%;
    }

    section#benefits div > div {
        flex-basis: 50%;
    }

    section#benefits h2, section#benefits p {
        text-align: left;
    }

    section#benefits img {
        width: 100%;
    }

    section#benefits div:first-child div:nth-child(2){
        order: 1;
        padding: 0;
    }

    section#benefits div:first-child div:first-child{
        order: 0;
        flex-grow: 1;
        flex-shrink: 0;
    }

    section#benefits div:nth-child(2) div:nth-child(2){
        order: 0;
    }

    section#benefits div:nth-child(2) div:first-child{
        order: 1;
    }
    /****** CTA *******/
}

/* Desktop Views Only*/
@media only screen and (min-width: 1024px) {
    /****** General *******/
    /****** Nav *******/
    nav {
        padding-bottom: 1%;
    }
    nav img {
        width: 25%;
    }
    /****** Hero *******/
    section#hero h1, section#hero p {
        width: 50%;
    }
    /****** Benefits *******/
    section#benefits img:first-child {
        max-width: 578px;
    }

    section#benefits img:nth-child(2) {
        max-width: 630px;
    }
    /****** CTA *******/
    section#cta {
        padding-top: 8%;
        padding-bottom: 8%;
    }
    section#cta h1 {
        line-height: 167%;
    }
}
